.container{
    margin: 15px;
    width: 100vw;
    /* background-color: red; */
    display: flex;
    flex-flow: row nowrap;
}

.search-container{
    width: 100%;
    /* background-color: blue; */
    display: flex;
    margin-bottom: 15px;
    flex-flow: column nowrap;
}

.preview-container{
    width: 300px;
    min-height: 100px;
    border: 2px solid #dddddd;
    margin-top: 15px;
    margin-bottom: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
}

.img-preview__image{
    display: none;
    width: 100%;
}